body {
  min-height: 100vh;
  font-family: 'Fira Sans', sans-serif;
}

a {
  text-decoration: none;
}

.logo {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.auth-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-page-marketing-block {
  padding: 8rem 0;

}

.main-page-marketing-block-bg-1 {
  background: url('../img/bg.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}

.main-page-marketing-block-bg-2 {
  background: url('../img/footer-main-page-bg.png');
  background-repeat: repeat-x;
  background-position: bottom;
  background-color: #FFF2DB;
}

.main-page-buttons {
  padding: 4rem 0;
}

.bg-footer {
  background-color: #67AA83;
}

.main-page-subheading {
  font-size: 24px;
  margin-bottom: 2rem;
}

.main-bage-right-block {
  background: url('../img/bnr-land-1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

h1, h2, h3 {
  font-family: 'Kdam Thmor Pro', sans-serif;
  margin-bottom: 2rem;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



.banner {
  background-image: url('../img/bnr-bg.gif');
  background-size: auto;
  background-repeat: no-repeat;
  animation: slidein 12s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-direction: normal;
  position: relative;
}

.banner::before {
  content: '';
  background: url('../img/clouds-bg.png'), #defbfe;
  background-size: auto;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: .8;
  animation: linear left-to-right 20s infinite;
}

@keyframes slidein {
  0% {
    background-position: -20% 150px;

  }

  50% {
    background-position: 50% 50px;

  }

  100% {
    background-position: 130% 150px;

  }

}

@keyframes left-to-right {
  0% {
    background-position: 0%;

  }

  100% {
    background-position: 100%;

  }

}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fight-page {
  height: 100dvh;
}

.beam {
  background-image: url(../../assets/img/beam.gif);
  background-position: center;
}

.fighter {
  background: url('../../assets/img/char.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.h-33 {
  height: 33% !important;
}

.fight-bg {
  background: burlywood;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 3rem 0;
}

.flip {
  transform: scaleX(-1);
}

.fighter-shaking {
  animation: horizontal-shaking .5s;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(10px)
  }

  50% {
    transform: translateX(-10px)
  }

  75% {
    transform: translateX(10px)
  }

  100% {
    transform: translateX(0)
  }
}



.curtain {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: azure
}

.loginForm {
  background-size: contain;
  background-repeat: no-repeat;
  animation: opacity 2s ease;
}

.curtain__panel {
  background: url('../img/metal.jpg');
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 2;
  transition: transform 1s ease-out;
  box-shadow: 0 0 15px rgb(71, 71, 71);
}


.curtain__block {
  position: absolute;
  z-index: 1;
  width: 100%;
  background: transparent;
}

.curtain__panel--left.animate {
  animation: slideLeft 2s ease-out;
}

.curtain__panel--right.animate {
  animation: slideRight 2s ease-out;
}

.curtain__panel.animate {
  transform: translateX(-200%);
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10%);
  }

  50% {
    transform: translateX(-30%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);

  }

  25% {
    transform: translateX(10%);
  }

  50% {
    transform: translateX(40%);
  }

  100% {
    transform: translateX(100%);

  }
}
